* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    text-align: right;
}

img {
    max-width: 100%;   
}

h1 {
    text-align: center;
    color: #4d4d4d;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;   
    background-color: #e5e5e5;
    padding: 2px;
    margin: 10px 0px;
}

p {
    font-size: 1.2em;
}

hr {
    margin: 10px 0px;
}

input {
    width: 70px;
    padding: 9px;
    margin-left: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
}
